@import "../../CSS/variables";

.about-me-page {
  .container {
    .sub-container {
      display: flex;
      align-items: center;

      .my-image {
        display: inline-block;
        background-color: white;
        border: 2px solid rgb(77, 77, 77);
        width: 300px;
        height: 384px;
        margin: 20px 0;
      }

      section.about-me {
        width: 70%;
        margin: 30px 90px;

        .heading {
          font-size: 3.689rem;
          font-family: aileronblack;
          color: $dark-gray;
          text-transform: uppercase;
        }

        .sub-heading {
          text-transform: uppercase;
          margin: 20px 0 10px 0;
          font-family: ralewayheavy;
          color: $purple;
          font-size: 1.7rem;
        }

        article.about-me-para {
          font-size: 1.2893452rem;
          font-family: ralewaymedium;
          line-height: 30px;
          color: #444444;
          text-align: justify;

          strong {
            font-family: ralewaybold;
          }
        }

        .icons {
          margin-top: 20px;

          ul {
            display: flex;

            li {
              list-style-type: none;
              margin: 0 10px;

              &:nth-child(1) {
                margin-left: 0;
              }

              .icon {
                width: 25px;
                opacity: 71%;
                height: 25px;
                transition: opacity 0.24569823s ease-in;

                &:hover {
                  opacity: 99%;
                }
              }
            }
          }
        }
      }
    }
  }
}
