@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Poppins:wght@200;400;700&family=Roboto:wght@300&display=swap");

$black: #1a1a1a;
$grey: #292929;
$orange: #ef6929;
$red: #e93c3c;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  scroll-behavior: smooth;
}

html body {
  background-color: rgb(240, 240, 240);
}

.container {
  margin: 0 auto;
  width: 86%;
}

.heading {
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
}

.divider {
  border: $orange 4px solid;
}

.header {
  background-color: $black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  .logo {
    display: flex;
    h2 {
      color: $orange;
      display: inline;
      align-self: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 4px 5px;
    }
  }
}

.about {
  background-color: $grey;
  height: 88vh;
  .container {
    height: 88vh;
    display: flex;
    align-items: center;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 20px;
    border-radius: 25px;
    padding: 10px 16px;
    background-color: $orange;
    border: transparent solid 2px;
    &:hover {
      transition: all 260ms ease-in-out;
      border: $orange solid 2px;
      background-color: transparent;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

#contact-me-link {
  margin-right: 0;
}

a.icon {
  i {
    color: white;
  }
  padding: 16px 18px;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.txt {
  font-weight: bolder;
  color: $orange;
}

.txt-type > .txt {
  border-right: solid 0.2rem $orange;
  animation: blinkTextCursor 500ms steps(40) infinite normal;
}

.intro {
  color: white;
  font-size: 2.31415928rem;
  position: relative;
  bottom: 40px;
  p,
  h2,
  .typewriter {
    color: white;
  }
  .btn {
    display: inline-block;
    cursor: pointer;
    margin: 10px 20px;
    margin-left: 0;
    border-radius: 25px;
    padding: 10px 16px;
    background-color: $orange;
    border: transparent solid 2px;
    &:hover {
      transition: all 260ms ease-in-out;
      border: $orange solid 2px;
      background-color: transparent;
    }
    a {
      text-decoration: none;
      color: white;
      font-size: 1.07rem;
    }
  }
  .cv {
    display: inline-block;
    font-size: 19px;
    color: white;
    text-decoration: none;
  }
}

.abt-me-heading {
  text-align: center;
  margin: 10px;
}

.about-me-para {
  padding: 0 10px 10px 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
  display: flex;
}

#writing-img {
  width: 35%;
  max-width: 35%;
  max-height: 250px;
  margin-right: 10px;
}

.skills-heading {
  text-align: center;
}

.my-skills {
  display: grid;
  height: 100%;
  width: 54%;
  place-items: center;
  margin-bottom: 10px;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: $orange;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 95%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.jquery span{
  width: 65%;
}
.bar .progress-line.js span{
  width: 80%;
}
.bar .progress-line.react span{
  width: 60%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "95%";
}
.progress-line.css span::after{
  content: "70%";
}
.progress-line.jquery span::after{
  content: "65%";
}
.progress-line.js span::after{
  content: "80%";
}
.progress-line.react span::after{
  content: "60%";
}

.content-skills {
  display: flex;
}

.my-skills-text {
  margin: 0 10px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
}

.footer {
  text-align: center;
  width: 100%;
  color: white;
  background-color: $black;
  padding: 5px;
  font-size: 13px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-menu {
  background-color: rgb(70, 70, 70);
}

.link {
  padding: 4px 0;
  text-align: center;
  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(239, 105, 41, 0.8);
  }
  to {
    border-right-color: transparent;
  }
}

@media all and (min-width: 799px) {
  .buttons {
    display: visible;
  }
  .hamburger-menu {
    display: none;
  }
}

@media all and (max-width: 798px) {
  .buttons {
    display: none;
  }

  a.icon {
    display: inline-block;
    
  }

  .logo {
    h2 {
      margin: 10px 0;
      width: 100%;
    }
  }
}

@media all and (max-width: 750px) {
  .about-me-para {
    flex-direction: column;
    img {
      order: 2;
      align-self: center;
      margin-top: 5px;
      margin-right: 0;
    }
  }
}

@media all and (max-width: 464px) {
  .intro {
    font-size: 1.6rem;
  }
}

@media (max-width: 312px) {
  .intro {
    font-size: 1.2rem;
  }
}