@import "../../CSS/variables";

.contact-page {
  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact-me {
      width: 50%;
      margin-bottom: 20px;

      h1 {
        text-transform: uppercase;
        font-family: ubuntubold;
        font-size: 3.9rem;
        margin: 80px 0 40px 0;
      }

      .contact-info {
        margin: 10px 0 50px 0;

        .email,
        .phone {
          h2 {
            font-family: ubunturegular;
            font-size: 2.6rem;
            font-weight: 600;
          }

          p {
            display: inline-block;
            font-size: 2.0789rem;
            text-decoration: underline;
            font-family: ubunturegular;
            margin: 5px 0 10px 80px;
            color: rgba(0, 0, 0, 0.7);
          }
        }

        .location {
          margin: 35px 0 5px 0;
          h1 {
            font-size: 2.7rem;
            text-transform: capitalize;
            margin: 5px 0;
          }

          p {
            font-family: ubunturegular;
            font-size: 1.8rem;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }

      .icons {
        position: relative;
        bottom: 5px;

        ul {
          display: flex;

          li {
            list-style-type: none;
            margin: 0 14px;

            &:nth-child(1) {
              margin-left: 0;
            }

            img {
              width: 33px;
              opacity: 71%;
              height: auto;
              transition: opacity 0.24569823s ease-in;

              &:hover {
                opacity: 99%;
              }
            }
          }
        }
      }
    }
    .form-background {
      background: white;
      width: 420px;
      height: 600px;
      border-radius: 10px;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.17564);

      .form {
        // display: grid;
        padding: 30px;
        width: inherit;
        margin: 0 auto;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: auto;
        column-gap: 15px;
        place-items: center;

        .sameline {
          display: flex;
          justify-content: space-between;
        }

        .field {
          display: flex;
          flex-direction: column;
          width: 160px;
          margin: 15px 0;

          span {
            color: red;
            position: relative;
            bottom: 3px;
          }

          label {
            display: inline-block;
            font-family: aileronheavy;
            font-size: 1rem;
            text-transform: uppercase;
            color: rgba(45, 45, 45, 0.57);
            margin-bottom: 2px;
          }

          input {
            padding: 10px 15px;
            border: 2px solid rgba(0, 0, 0, 0.24);
            font-size: 1.1rem;
            border-radius: 3px;
          }
        }

        .firstname,
        .lastname {
          width: 170px;
        }

        .email {
          width: auto;
        }

        .message {
          width: auto;
          margin-top: 30px;
          textarea {
            font-size: 1.1rem;
            border-radius: 3px;
            padding: 10px;
            font-size: 1.2rem;
            resize: none;
            border: 2px solid rgba(0, 0, 0, 0.24);
          }
        }

        .btn-submit {
          width: 100%;
          padding: 11px 0;
          border-radius: 2px;
          border: none;
          background-color: #6461db;
          color: $white;
          font-family: aileronsemibold;
          font-size: 1.02rem;
        }
      }
    }
  }
}
