@font-face {
  font-family: "MontserratThin";
  src: local("Montserrat-Thin"),
    url("../assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "MontserratLight";
  src: local("Montserrat-Light"),
    url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "MontserratRegular";
  src: local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "MontserratMedium";
  src: local("Montserrat-Medium"),
    url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: local("Montserrat-SemiBold"),
    url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "MontserratBold";
  src: local("Montserrat-Bold"),
    url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "MontserratExtraBold";
  src: local("Montserrat-ExtraBold"),
    url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 200;
}
