@import "./variables.scss";

@for $i from 1 through 20 {
  .p-#{$i} {
    padding: #{$i * 4}px;
  }

  .px-#{$i} {
    padding-inline: #{$i * 4}px;
  }

  .py-#{$i} {
    padding-block: #{$i * 4}px;
  }

  .m-#{$i} {
    margin: #{$i * 4}px;
  }

  .mx-#{$i} {
    margin-inline: #{$i * 4}px;
  }

  .my-#{$i} {
    margin-block: #{$i * 4}px;
  }
}

$colors: (
  "yellow": $yellow,
  "black": $black,
  "lightBlack": $light-black,
  "blueishBlack": $blueish-black,
  "white": $white,
  "grey": $grey,
);

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }

  .bg-#{$name} {
    background-color: $value;
  }
}

$pos: (
  "absolute": "absolute",
  "relative": "relative",
  "fixed": "fixed",
);

@each $name, $val in $pos {
  .#{$name} {
    position: $val;
  }
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.bg-overlay {
}

.to-bottom {
}

.to-right {
}

.inset-0 {
  inset: 0;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-full {
  height: 100%;
}

.text-xs {
  font-size: $fs-5;
}

.text-sm {
  font-size: $fs-4;
}

.text-center {
  text-align: center;
}
