@import "../../CSS/variables";

.footer {
  background-color: $dark-gray;
  padding: 7px 0;
  width: 100%;
  text-align: center;
  color: $white;
  font-family: ubuntumedium;

  span {
    font-family: ubunturegular;
    font-size: 1.05rem;
  }
}
