@import "css/variables.scss";
@import "css/fonts.scss";
@import "css/utilities.scss";

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $fs-body;
  font-family: $ff-regular;
}

img {
  display: block;
  max-width: 100%;
}
